@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700');

:root {
    --font-large: 42px;
    --font-medium: 20px;
    --font-small: 16px;
    --cinza-header: #f2f2f2;
    --cinza-text: #808080;
    --cinza-input: #DFDFDF;
    --cinza-input-placeholder: #A4A4A4; 
    --cinza-titulo-footer: #AFAFAF;
    --cinza-text-footer: #707070;
    --cinza-barra-etapa: #E6E6E6;
    --blue: #4455dd;
    --blue-circulo: #A1AAEB;
    --border-radius: 5px;
    --box-shadow-btn: 0px 2px 2px rgba(0, 0, 0, 0.30);
    --box-shadow-cards: 0px 2px 4px rga(0, 0, 0, 0.30);
}
/* ----------------------- 12/09/2018 ---------------------*/
body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #fff;
}
.wrapper {
    width: 100%;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto auto;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 55px;
    display: grid;
    grid-template-columns: repeat(12, 70px);
    grid-template-rows: auto;
    grid-column-gap: 30px;
    align-items: center; 
}
.btn {
    background-color: var(--blue);
    color: #fff;
    text-align: center;
    box-shadow: var(--box-shadow-btn);
    border-radius: var(--border-radius);
    border: none;
}

    header {
        grid-area: header;
        background-color: var(--cinza-header);
        color: #000;
    }
        .logo {
            width: 140px;
            height: 40px;
            grid-column: 1/3;
            text-indent: -99999px;
            background-image: url(../svg/little-invest-logo.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: 0px 0px;
        }
        nav {
            grid-column: 8/13;           
        }
            .menu {
                width: 96%;
            }
                .menu li {
                    font-size: var(--font-small);
                    font-weight: 600;
                    display: inline;
                    margin-right: 20px;
                }
/* ----------------------- 12/09/2018 Fim 14:23hrs ---------------------*/

/* ----------------------- 12/09/2018 Início 20:17hrs ---------------------*/

/* ----------------------- 12/09/2018 Fim 14:23hrs ---------------------*/